watch_file bazel-out/bazel_env-opt/bin/dev/env/bin
PATH_add bazel-out/bazel_env-opt/bin/dev/env/bin
if [[ ! -d bazel-out/bazel_env-opt/bin/dev/env/bin ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //dev:env' to regenerate bazel-out/bazel_env-opt/bin/dev/env/bin"
fi
